h2, ul, li {
  margin: 0;
  padding: 0;
}
body {
  background-color: whitesmoke;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  padding: 0.8rem 1rem;
  width: 1rem;
  height: 1.5rem;
  text-align: center;
  border: 1px solid lightslategray;
  cursor: pointer;
}

ul {
  display: flex;
  flex-wrap: wrap;
}

ul:nth-child(odd) > li:nth-child(even){
  background-color:cornflowerblue;
}

ul:nth-child(even) > li:nth-child(odd){
  background-color:cornflowerblue;
}